<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the   Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in ./env/lib/python3.10/site-packages (1.3.9)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/home/user/backup/PythonDataScience/env/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: ibm_db_sa in ./env/lib/python3.10/site-packages (0.3.8)
Requirement already satisfied: ibm-db>=2.0.0 in ./env/lib/python3.10/site-packages (from ibm_db_sa) (3.1.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in ./env/lib/python3.10/site-packages (from ibm_db_sa) (1.3.9)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/home/user/backup/PythonDataScience/env/bin/python -m pip install --upgrade pip' command.
Requirement already satisfied: ipython-sql in ./env/lib/python3.10/site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in ./env/lib/python3.10/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in ./env/lib/python3.10/site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython>=1.0 in ./env/lib/python3.10/site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./env/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in ./env/lib/python3.10/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in ./env/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: matplotlib-inline in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.5.0)
Requirement already satisfied: backcall in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: jedi>=0.16 in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pexpect>4.3 in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pickleshare in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in ./env/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.4.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./env/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./env/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in ./env/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in ./env/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.8)
Requirement already satisfied: executing in ./env/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.0.0)
Requirement already satisfied: pure-eval in ./env/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/home/user/backup/PythonDataScience/env/bin/python -m pip install --upgrade pip' command.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
%sql postgresql+psycopg2://postgres:admin@10.0.0.57:37020/aiup26

In [4]:
%sql select * from spacextbl LIMIT 1

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
1 rows affected.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')]

In [5]:
%sql ibm_db_sa://

(ibm_db_dbi.InterfaceError) ibm_db_dbi::InterfaceError: connect expects a not None dsn value
(Background on this error at: http://sqlalche.me/e/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26'])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [6]:
%sql select launch_site, COUNT(*) from spacextbl group by launch_site

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
4 rows affected.

[('CCAFS SLC-40', 34),
 ('KSC LC-39A', 25),
 ('CCAFS LC-40', 26),
 ('VAFB SLC-4E', 16)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [7]:
%sql select * from spacextbl WHERE launch_site like 'CCA%' LIMIT 5

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
5 rows affected.

[('04-06-2010', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('08-12-2010', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('22-05-2012', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('08-10-2012', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('01-03-2013', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
%sql select SUM(payload_mass_kg_) as 'Total Payload' from spacextbl where customer = 'NASA (CRS)'

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
(psycopg2.errors.SyntaxError) syntax error at or near "'Total Payload'"
LINE 1: select SUM(payload_mass_kg_) as 'Total Payload' from spacext...
                                        ^

[SQL: select SUM(payload_mass_kg_) as 'Total Payload' from spacextbl where customer = 'NASA (CRS)']
(Background on this error at: http://sqlalche.me/e/f405)

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [9]:
# %sql select * from spacextbl
%sql select AVG(payload_mass_kg_) from spacextbl where booster_version like 'F9 v1.1%'

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
1 rows affected.

[(Decimal('2534.6666666666666667'),)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [10]:
%sql select MIN(TO_DATE(date, 'DD-MM-YYYY')) as date from spacextbl

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
1 rows affected.

[(datetime.date(2010, 6, 4),)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
%sql select * from spacextbl where landing_outcome = 'Success (drone ship)' and (payload_mass_kg_ > 4000 and payload_mass_kg_ < 6000)

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
4 rows affected.

[('06-05-2016', '05:21:00', 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('14-08-2016', '05:26:00', 'F9 FT B1026', 'CCAFS LC-40', 'JCSAT-16', 4600, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('30-03-2017', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('11-10-2017', '22:53:00', 'F9 FT  B1031.2', 'KSC LC-39A', 'SES-11 / EchoStar 105', 5200, 'GTO', 'SES EchoStar', 'Success', 'Success (drone ship)')]

### Task 7

##### List the total number of successful and failure mission outcomes

In [12]:
%sql select mission_outcome, COUNT(*) from spacextbl group by mission_outcome

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
3 rows affected.

[('Success (payload status unclear)', 1),
 ('Success', 99),
 ('Failure (in flight)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
%sql select * from spacextbl where payload_mass_kg_ = (select MAX(payload_mass_kg_) as MaxPayload from spacextbl)

# %sql select * from spacextbl

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
12 rows affected.

[('11-11-2019', '14:56:00', 'F9 B5 B1048.4', 'CCAFS SLC-40', 'Starlink 1 v1.0, SpaceX CRS-19', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('07-01-2020', '02:33:00', 'F9 B5 B1049.4', 'CCAFS SLC-40', 'Starlink 2 v1.0, Crew Dragon in-flight abort test', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('29-01-2020', '14:07:00', 'F9 B5 B1051.3', 'CCAFS SLC-40', 'Starlink 3 v1.0, Starlink 4 v1.0', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('17-02-2020', '15:05:00', 'F9 B5 B1056.4', 'CCAFS SLC-40', 'Starlink 4 v1.0, SpaceX CRS-20', 15600, 'LEO', 'SpaceX', 'Success', 'Failure'),
 ('18-03-2020', '12:16:00', 'F9 B5 B1048.5', 'KSC LC-39A', 'Starlink 5 v1.0, Starlink 6 v1.0', 15600, 'LEO', 'SpaceX', 'Success', 'Failure'),
 ('22-04-2020', '19:30:00', 'F9 B5 B1051.4', 'KSC LC-39A', 'Starlink 6 v1.0, Crew Dragon Demo-2', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('04-06-2020', '01:25:00', 'F9 B5 B1049.5', 'CCAFS SLC-40', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600, 'LEO', 'SpaceX, Planet Labs', 'Success', 'Success'),
 ('03-09-2020', '12:46:14', 'F9 B5 B1060.2', 'KSC LC-39A', 'Starlink 11 v1.0, Starlink 12 v1.0', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('06-10-2020', '11:29:34', 'F9 B5 B1058.3', 'KSC LC-39A', 'Starlink 12 v1.0, Starlink 13 v1.0', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('18-10-2020', '12:25:57', 'F9 B5 B1051.6', 'KSC LC-39A', 'Starlink 13 v1.0, Starlink 14 v1.0', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('24-10-2020', '15:31:34', 'F9 B5 B1060.3', 'CCAFS SLC-40', 'Starlink 14 v1.0, GPS III-04', 15600, 'LEO', 'SpaceX', 'Success', 'Success'),
 ('25-11-2020', '02:13:00', 'F9 B5 B1049.7', 'CCAFS SLC-40', 'Starlink 15 v1.0, SpaceX CRS-21', 15600, 'LEO', 'SpaceX', 'Success', 'Success')]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [14]:
%sql select booster_version,launch_site,date from spacextbl where landing_outcome = 'Failure (drone ship)' and (TO_DATE(date, 'DD-MM-YYYY') >= to_date('01-01-2015', 'DD-MM-YYYY') and to_date(date, 'DD-MM-YYYY') < to_date('01-01-2016', 'DD-MM-YYYY'))

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
2 rows affected.

[('F9 v1.1 B1012', 'CCAFS LC-40', '10-01-2015'),
 ('F9 v1.1 B1015', 'CCAFS LC-40', '14-04-2015')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [15]:
%sql select landing_outcome, COUNT(*) as Rank from spacextbl where TO_DATE(date, 'DD-MM-YYYY') >= TO_DATE('04-06-2010', 'DD-MM-YYYY') and TO_DATE(date, 'DD-MM-YYYY') < TO_DATE('20-03-2017', 'DD-MM-YYYY') group by landing_outcome order by Rank DESC

 * postgresql+psycopg2://postgres:***@10.0.0.57:37020/aiup26
8 rows affected.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>